.card{
display: flex;
justify-content: left;
align-items: flex-end;
background: linear-gradient(180deg, #ff6060 0%, rgba(82, 0, 0, 0.671) 100%);
width: 440px;
height: 440px;
border-radius: 10px;
margin: 3em;
/* padding: 1em; */
}

.card-img{
width: 440px;
height: 440px;
border-radius: 10px;
position: relative;
}

.card-title{
color: #F7F7F7;
display: block;
width: 15em;
line-height: 35px;
font-size: 1.3em;
position: absolute;
margin: 1em;
}