
.catchphrase-cont{
  position: relative;
}

.catchphrase{
  display: flex;
  justify-content: center;
  background-image: url("../../IMG/eric-muhr-P_XxsdVgtpQ-unsplash.jpg");
  background-size: cover;
  background-position: center;
  filter: brightness(0.80);
  border-radius: 25px;
  padding: 6em;
  margin-bottom: 4em;
}
.catchphrase_phrase {
  place-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 3em;
  line-height: 142.6%;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

@media (max-width: 1100px) {
  .catchphrase_phrase{
    font-size: 2em;
    left: 35%;
    
}
}
