.carrousel{
  position: relative;
  display: flex;
  height: 30em;
  margin-bottom: 2em;
}

.left_button{
  place-items: center;
  line-height: 142.6%;
  position: absolute;
  top: 40%;
  left: 0%;
  height: 8em;
  width: 5em;
  background: none;
  border: 0;
  cursor: pointer;
}

.right_button{
transform: rotate(180deg);
place-items: center;
line-height: 142.6%;
position: absolute;
top: 40%;
right: 00%;
height: 8em;
width: 5em;
background: none;
border: 0;
cursor: pointer;
}


.carrousel_img{
  filter: brightness(0.80);
  border-radius: 25px;
  margin-bottom: 2em;
  height: 100%;
  object-fit: cover;
  width: 100%;
  position: relative;
}

.count{
  position: absolute;
  top: 90%;
  right: 50%;
  color: white;
  font-size: x-large;
}