.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6em;
  margin: 50px 125px 0rem 125px;
}
@media (max-width: 1100px) {
  .header{
    margin-bottom: 2em;
    margin: 20px 20px 0rem 20px;
  }
}

.header_logo {
  width: 15em;
}
@media (max-width: 1100px){
  .header_logo{
    width: 9em;
  }
}

.header_links {
  width: 15em;
  display: flex;
  place-items: center;
}
@media (max-width: 1100px) {
  .header_links{
    width: 8.5em;
  }
}

.header_links-home {
  text-decoration: none;
  color: #FF6060;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 142.6%;
  margin-right: 10%;
}
@media (max-width: 1100px) {
  .header_links-home{
    font-size: 12px;
    text-transform: uppercase;
  }
}

.header_links-about {
  text-decoration: none;
  color: #FF6060;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 142.6%;
}
@media (max-width: 1100px) {
  .header_links-about{
    font-size: 12px;
    text-transform: uppercase;
  }
}

.header_links-test {
  text-decoration: none;
  color: #FF6060;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 142.6%;
}